<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JustMock" version="2016.2.426.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net46" />
  <package id="System.Composition" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net461" />
</packages>