<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver.Core" publicKeyToken="15b1115599983c50" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.3.23" newVersion="2.4.3.23" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="15b1115599983c50" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.3.23" newVersion="2.4.3.23" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>