<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MongoDB.Bson.signed" version="2.4.0" targetFramework="net45" />
  <package id="MongoDB.Driver.Core.signed" version="2.4.0" targetFramework="net45" />
  <package id="MongoDB.Driver.signed" version="2.4.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net45" />
</packages>