<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="my-section" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    <appSettings>
        <add key="MySetting" value="myValue"/>
        <add key="MyOtherSetting" value="myOtherValue"/>
    </appSettings>
    <my-section>
        <add key="name1" value="v1" />
        <add key="name2" value="v2" />
        <add key="name3" value="v3" />
    </my-section>
</configuration>